@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/*SMARTPHONE*/
.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .contenedor {
    width: 540px;
  }

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .contenedor {
    width: 750px;
  }

  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .contenedor {
    width: 970px;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 1170px;
  }

  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.fondo-header {
  height: auto;
  width: 100%;
  background-color: #FFF;
  color: red;
  background-image: url(/assets/img/header-minimizado.svg);
  background-repeat: no-repeat;
  background-size: 170%;
  background-position: right;
  padding-bottom: 400px;
}

@media (min-width: 576px) {
  .fondo-header {
    height: 550px;
    width: 100%;
    background-color: #FFF;
    color: red;
    background-image: url(/assets/img/header-minimizado.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }
}
.bloque-carac {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.titulo-estadisticas {
  margin: 7px;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}

.titulo-carac {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}

.parrafo-carac {
  width: 300px;
  margin: 7px;
  text-align: left;
}

.grafico {
  height: 150px;
  margin: 0em;
}

@media (min-width: 576px) {
  .bloque-carac {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: "Raleway", sans-serif;
  }

  .grafico {
    height: 200px;
    margin-right: 50px;
  }

  .parrafo-carac {
    width: 400px;
    text-align: left;
  }
}
footer {
  background-color: #333745;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #e8e8e8;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  flex-wrap: wrap;
  font-size: 12px;
}

.botones-footer {
  display: flex;
  color: #e8e8e8;
}

.section-montaña {
  background-color: #FFF;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url(/assets/img/result-montaña-negra.svg);
}

.contenedor-cartas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.cards {
  background-color: white;
  width: 250px;
  height: 450px;
  margin: 18px;
  text-align: left;
  padding: 0px 20px;
}

.textos-cartas {
  font-family: "Raleway", sans-serif;
}

.precio {
  font-size: 45px;
  font-weight: 700;
  font-style: bold;
  margin-top: 0px;
}

.precio-diferente {
  font-size: 40px;
  font-weight: 700;
  font-style: bold;
  margin-top: 0px;
}

.titulo-precios {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 35px;
}

.titulo-promo {
  font-size: 25px;
  margin-bottom: 0px;
}

.linea {
  width: 100%;
  margin: 0px;
}

.boton-cajas {
  width: 250px;
  padding: 3%;
  background-color: #2ab7ca;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 15px;
}

.grafico {
  height: 150px;
  margin: 0em;
}

.bloque-carac {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.parrafo-carac {
  width: 300px;
  margin: 7px;
  text-align: left;
}

.titulo-estadisticas {
  margin: 7px;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}

.titulo-carac {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}

@media (min-width: 576px) {
  .contenedor-cartas {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .cards {
    margin: 18px 50px;
  }

  .bloque-carac {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: "Raleway", sans-serif;
  }

  .grafico {
    height: 200px;
    margin-right: 50px;
  }

  .parrafo-carac {
    width: 400px;
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
