footer{
    background-color: $onyx;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: $platinum;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: wrap;
    font-size: 12px;
    
}

.botones-footer{
    display: flex;
    color: $platinum;
}