.section-montaña{
    background-color: $white;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url(/assets/img/result-montaña-negra.svg);
    
}
.contenedor-cartas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.cards{
    background-color: white;
    width: 250px;
    height: 450px;
    margin: 18px;
    text-align: left;
    padding: 0px 20px;
}

.textos-cartas{
    font-family: 'Raleway', sans-serif;
}

.precio{
    font-size: 45px;
    font-weight: 700;
    font-style: bold;
    margin-top: 0px;
}

.precio-diferente{
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    margin-top: 0px;

}
.titulo-precios{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 35px;
}

.titulo-promo{
    font-size: 30px;
    margin-bottom: 0px;
}
.linea{
    width: 100%;
    margin: 0px;
}

.boton-cajas{
    width: 250px;
    padding: 3%;
    background-color: $ballblue;
    color: $white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 15px;

}


@media (min-width: 576px) {
    .contenedor-cartas{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .cards{
        
        margin: 18px 50px;
        
    }

}